# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# uploaded files
data/sample_inputs/
data/outputs/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db